<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>The Project | Home</title>
        <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
        <meta name="author" content="htmlcoder.me">

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Fontello CSS -->
        <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

        <!-- Plugins -->
        <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
        <link href="css/animations.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="plugins/hover/hover-min.css" rel="stylesheet">

        <!-- The Project core CSS file -->
        <link href="css/style.css" rel="stylesheet" >
        <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
        <link href="css/skins/blue.css" rel="stylesheet">

        <!-- Custom css -->
        <link href="css/custom.css" rel="stylesheet">
    </head>

    <!-- body classes:  -->
    <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
    <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
    <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
    <!-- "gradient-background-header": applies gradient background to header -->
    <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
    <body class="no-trans front-page   ">

        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">

            <!-- header-container start -->
            <div class="header-container">
                <!-- header start -->
                <!-- classes:  -->
                <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
                <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
                <!-- "full-width": mandatory class for the full-width menu layout -->
                <!-- "centered": mandatory class for the centered logo layout -->
                <!-- ================ -->
                <header class="header  fixed    clearfix">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 ">
                                <!-- header-left start -->
                                <!-- ================ -->
                                <div class="header-left clearfix">



                                    <!-- logo -->
                                    <div id="logo" class="logo">
                                        <a href="index.html"><img id="logo_img" src="images/img_logo.png" alt="The Project"></a>
                                    </div>

                                    <!-- name-and-slogan -->
                                    <div class="site-slogan">
                                        Nutritional &amp; Medical Foods
                                    </div>

                                </div>
                                <!-- header-left end -->

                            </div>
                            <div class="col-md-9">

                                <!-- header-right start -->
                                <!-- ================ -->
                                <div class="header-right clearfix">

                                <!-- main-navigation start -->
                                <!-- classes: -->
                                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                                <!-- ================ -->
                                    <div class="main-navigation animated">

                                        <!-- navbar start -->
                                        <!-- ================ -->
                                        <nav class="navbar navbar-default" role="navigation">
                                            <div class="container-fluid">

                                                <!-- Toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>
                                                </div>

                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                                    <ul class="nav navbar-nav navbar-right">
                                                        <li class="dropdown" style=""> <!-- class="active" -->
                                                            <a href="#banner" class="dropdown-toggle" data-toggle="dropdown">GAONN</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="">STORY</a></li>
                                                                <li><a href="">VISION</a></li>
                                                                <li><a href="">CI</a></li>
                                                                <li><a href="">PARTNERS</a></li>
                                                                <li><a href="">CONTACT US</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown" style="">
                                                            <a href="#banner" class="dropdown-toggle" data-toggle="dropdown">LABOVO</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="">STORY</a></li>
                                                                <li><a href="">BI</a></li>
                                                                <li><a href="">FACTORY</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#banner">PRODUCT</a></li>
                                                        <li><a href="">NOTICE</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </nav>
                                        <!-- navbar end -->

                                    </div>
                                <!-- main-navigation end -->
                                </div>
                                <!-- header-right end -->

                            </div>
                        </div>
                    </div>

                </header>
                <!-- header end -->
            </div>
            <!-- header-container end -->

            <!-- banner start -->
            <!-- ================ -->
            <div class="banner clearfix">

                <!-- slideshow start -->
                <!-- ================ -->
                <div class="slideshow">

                    <!-- slider revolution start -->
                    <!-- ================ -->
                    <div class="slider-banner-container">
                        <div class="slider-banner-fullscreen">
                            <ul class="slides">
                                <!-- slide 1 start -->
                                <!-- ================ -->
                                <li data-transition="random-static">

                                <!-- main image -->
                                    <img src="http://gimepix.com/img/1920-1280-newborn-001" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                                <!-- Transparent Background -->
                                <div class="tp-caption dark-translucent-bg"
                                    data-x="center"
                                    data-y="bottom"
                                    data-speed="500"
                                    data-easing="easeOutQuad"
                                    data-start="0">
                                </div>

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption sfb fadeout large_white"
                                     data-x="left"
                                     data-y="70"
                                     data-speed="500"
                                     data-start="1000"
                                     data-easing="easeOutQuad"
                                     data-end="10000"><span class="logo-font">행복한 삶을 위한 GAONN</span>
                                </div>
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white"
                                         data-x="left"
                                         data-y="150"
                                         data-speed="500"
                                         data-start="1500"
                                         data-easing="easeOutQuad"
                                         data-end="10000">내가족의 시작부터 함께합니다.
                                    </div>
                                <!-- LAYER NR. 10 -->
                                <div class="tp-caption fade fadeout"
                                    data-x="center"
                                    data-y="bottom"
                                    data-voffset="100"
                                    data-speed="500"
                                    data-easing="easeOutQuad"
                                    data-start="2000"
                                    data-end="10000"
                                    data-endspeed="200">
                                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                                </div>
                                </li>
                                <!-- slide 1 end -->

                                <!-- slide 2 start -->
                                <!-- ================ -->
                                <li data-transition="random-static">

                                <!-- main image -->
                                <img src="http://gimepix.com/img/1920-1280-newborn-043" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                                <!-- Transparent Background -->
                                <div class="tp-caption dark-translucent-bg"
                                    data-x="center"
                                    data-y="bottom"
                                    data-speed="500"
                                    data-easing="easeOutQuad"
                                    data-start="0">
                                </div>

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption sfb fadeout large_white"
                                    data-x="left"
                                    data-y="70"
                                    data-speed="500"
                                    data-start="1000"
                                    data-easing="easeOutQuad"
                                     data-end="10000"><span class="logo-font">행복한 삶을 위한 GAONN</span>
                                </div>

                                <!-- LAYER NR. 2 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-end="10000"
                                         data-endspeed="200">
                                        <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                                    </div>
                                </li>
                                <!-- slide 2 end -->
                                <!-- slide 3 start -->
                                <!-- ================ -->
                                <li data-transition="random-static">

                                    <!-- main image -->
                                    <img src="http://gimepix.com/img/1920-1280-people-036" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white"
                                         data-x="left"
                                         data-y="70"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"
                                         data-end="10000"><span class="logo-font">행복한 삶을 위한 GAONN</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-end="10000"
                                         data-endspeed="200">
                                        <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                                    </div>
                                </li>
                                <!-- slide 3 end -->
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                    <!-- slider revolution end -->

                </div>
                <!-- slideshow end -->

            </div>
            <!-- banner end -->
            <!-- section start -->
            <!-- ================ -->
            <section class="section clearfix">
                <div class="container">
                    <h2 class="logo-font text-center text-muted">GAON N</h2>
                    <div class="separator"></div>
                    <p class="lead text-center pv-20">인생의 시작부터 끝까지 내 가족의 건강과 행복을 책임지는 회사</p>

                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="image-box text-center style-2 mb-20">
                                        <a href="#"><img src="http://gimepix.com/img/300-300-newborn-033" alt="" class="img-circle img-thumbnail"></a>
                                        <div class="body padding-horizontal-clear">
                                            <h4 class="text-default">GAONN STORY</h4>
                                            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="image-box text-center style-2 mb-20">
                                        <a href="#"><img src="http://gimepix.com/img/300-300-newborn-001" alt="" class="img-circle img-thumbnail"></a>
                                        <div class="body padding-horizontal-clear">
                                            <h4 class="text-default">LABOVO STORY</h4>
                                            <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="image-box text-center style-2 mb-20">
                                        <a href="#"><img src="http://gimepix.com/img/300-300-newborn-015" alt="" class="img-circle img-thumbnail"></a>
                                        <div class="body padding-horizontal-clear">
                                            <h4 class="text-default">PRODUCT</h4>
                                            <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="image-box text-center style-2 mb-20">
                                        <a href="#"><img src="http://gimepix.com/img/300-300-unsplash-048" alt="" class="img-circle img-thumbnail"></a>
                                        <div class="body padding-horizontal-clear">
                                            <h4 class="text-default">NOTICE</h4>
                                            <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pills end -->
                </div>
            </section>
            <!-- section end -->


            <!-- section -->
            <!-- ================ -->

            <section class="pv-30 parallax dark-translucent-bg background-img-1">
                <div class="space-bottom">
                    <div class="owl-carousel content-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h2 class="text-center">Our <strong>Partners</strong></h2>
                                    <div class="separator"></div>
                                    <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="clients-container">
                            <div class="clients">
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <img src="images/logo/partner01.jpg" alt="">
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner02.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner03.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner04.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner05.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner06.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <img src="images/logo/partner01.jpg" alt="">
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner02.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner03.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner04.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner05.jpg" alt=""></a>
                                </div>
                                <div class="client-image object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                                    <a href="#"><img src="images/logo/partner06.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section end -->

            <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
            <!-- ================ -->
            <footer id="footer" class="clearfix dark">

                <div class="footer">
                    <div class="container">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="footer-content">
                                        <div class="logo-footer"><img id="logo-footer" src="images/img_logo.png" alt=""></div>
                                        <p>㈜가온앤은 ‘세상의 중심’ 그리고 and, 세상의 중심에서 무한한 발전을 실현 하고자 합니다. <br>
                                            생명의 시작부터 노년기까지,인류의 건강한 삶을  위하여 열심히 달리겠습니다.</p>
                                        <div class="separator-2"></div>
                                        <nav>
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a target="_blank" href="http://htmlcoder.me/support">GAONN</a></li>
                                                <li><a href="#">LABOVO</a></li>
                                                <li><a href="#">PRODUCT</a></li>
                                                <li><a href="page-about.html">NOTICE</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-content">
                                        <h2 class="title">Latest News</h2>
                                        <div class="separator-2"></div>
                                        <div class="media margin-clear">
                                            <div class="media-left">
                                                <div class="overlay-container">
                                                    <img class="media-object" src="images/blog-thumb-1.jpg" alt="blog-thumb">
                                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2016</p>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="media margin-clear">
                                            <div class="media-left">
                                                <div class="overlay-container">
                                                    <img class="media-object" src="images/blog-thumb-2.jpg" alt="blog-thumb">
                                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2016</p>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="media margin-clear">
                                            <div class="media-left">
                                                <div class="overlay-container">
                                                    <img class="media-object" src="images/blog-thumb-3.jpg" alt="blog-thumb">
                                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2016</p>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="media margin-clear">
                                            <div class="media-left">
                                                <div class="overlay-container">
                                                    <img class="media-object" src="images/blog-thumb-4.jpg" alt="blog-thumb">
                                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
                                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2016</p>
                                            </div>
                                        </div>
                                        <div class="text-right space-top">
                                            <a href="blog-large-image-right-sidebar.html" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-content">
                                        <h2 class="title">Contact Us</h2>
                                        <div class="separator-2"></div>
                                        <p>서울특별시 강남구 봉은사로 129, <br> 논현동 거평타운 B1 102호</p>
                                        <ul class="social-links circle animated-effect-1">
                                            <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                            <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
                                        </ul>
                                        <div class="separator-2"></div>
                                        <ul class="list-icons">
                                            <li><i class="fa fa-phone pr-10 text-default"></i> 02.3444.1958</li>
                                            <li><i class="fa fa-fax pr-10 text-default"></i> 02.780.8808</li>
                                            <li><a href="mailto:korea@gaonn.net"><i class="fa fa-envelope-o pr-10"></i>korea@gaonn.net</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .subfooter start -->
                <!-- ================ -->
                <div class="subfooter">
                    <div class="container">
                        <div class="subfooter-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">© 2016 <a href="#">GAONN</a> Co. Ltd. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .subfooter end -->
            </footer>
            <!-- footer end -->
        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="plugins/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <!-- Modernizr javascript -->
        <script type="text/javascript" src="plugins/modernizr.js"></script>
        <!-- jQuery Revolution Slider  -->
        <script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- Isotope javascript -->
        <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
        <!-- Magnific Popup javascript -->
        <script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- Appear javascript -->
        <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
        <!-- Count To javascript -->
        <script type="text/javascript" src="plugins/jquery.countTo.js"></script>
        <!-- Parallax javascript -->
        <script src="plugins/jquery.parallax-1.1.3.js"></script>
        <!-- Contact form -->
        <script src="plugins/jquery.validate.js"></script>
        <!-- Background Video -->
        <script src="plugins/vide/jquery.vide.js"></script>
        <!-- Owl carousel javascript -->
        <script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
        <!-- SmoothScroll javascript -->
        <script type="text/javascript" src="plugins/jquery.browser.js"></script>
        <script type="text/javascript" src="plugins/SmoothScroll.js"></script>
        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="js/template.js"></script>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/custom.js"></script>

    </body>
</html>
